
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">정보대 요구안</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../assets/jung/j1.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../assets/jung/jung1-1.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../assets/jung/jung1-2.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../assets/jung/jung1-3.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../assets/jung/j2.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../assets/jung/jung2-1.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="../assets/jung/j3.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
